#LAMBDA O FUNCIONES ANÓNIMAS
* Declaran funciones pequeñas, sencillas y de acceso rápido
* Puede contener sólo **UNA** expresión. por lo que no son la más adecuadas para funcione con instrucciones de flujo
* Las funciones Lambda pueden tener n número de argumentos pero solo una expresión.

Se define

In [ ]:
#Funcion tradicional para calcular el cuadrado de un número:
def cuadrado(num):
  return num**2
  print(cuadrado(10))

In [ ]:
#Funcion lambda para calcular el cuadro de un número:
cuadrado1=lambda num: num**2
print(cuadrado1(10))

100

In [ ]:
#Funcion que si un número elevado a la n es >10 me regrese un True, y si no un For
def numero(x,n):
  if x**n>10:
    return True
  else:
    return False

In [ ]:
print(numero(3,2))

False

In [ ]:
#Funcion lambda que si un número elevado a la n es >10 me regrese un True, y si no un For
cuadradon=lambda x,n: True if x**n>10 else False
cuadradon(3,2)

False

Usando la funcion MAP

In [ ]:
dias=['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo']
temp=[10.5,13.8,28.2,34.3,33.8,19.1,29.8]

In [ ]:
temp_semana={dias:temp for (dias,temp) in zip(dias,temp)}
print(temp_semana)

{'Lunes': 10.5, 'Martes': 13.8, 'Miercoles': 28.2, 'Jueves': 34.3, 'Viernes': 33.8, 'Sabado': 19.1, 'Domingo': 29.8}

In [ ]:
clima1=dict(temp_semana)
clima1

{'Lunes': 10.5,
 'Martes': 13.8,
 'Miercoles': 28.2,
 'Jueves': 34.3,
 'Viernes': 33.8,
 'Sabado': 19.1,
 'Domingo': 29.8}

In [ ]:
def clima(temp):
  resultado=[]
  for i in temp:
    if i<20.0: resultado.append((i,"Temperatura fria"))
    elif i>=20.0 and i<30.0: resultado.append((i,"Temperatura templada"))
    else: resultado.append((i,"Temperatura caliente"))
  return resultado
clima(temp)

[(10.5, 'Temperatura fria'),
 (13.8, 'Temperatura fria'),
 (28.2, 'Temperatura templada'),
 (34.3, 'Temperatura caliente'),
 (33.8, 'Temperatura caliente'),
 (19.1, 'Temperatura fria'),
 (29.8, 'Temperatura templada')]

Declarando la funcion MAP


```
Elemento a regresar (MAP(FUNCION A MAPEAR, PARAMETROS A *MAPEAR*))
```

Elemento a regresar: tupla - tuple, conjunto - set,diccionario- dict, lista - list

In [ ]:
#mismo ejercicio, con funciones anónimas
def clima2(l1,l2):
  y2=clima(l2)
  return dict(map(lambda x,y:(x,y),l1,l2))
clima2(dias,temp)

{'Lunes': 10.5,
 'Martes': 13.8,
 'Miercoles': 28.2,
 'Jueves': 34.3,
 'Viernes': 33.8,
 'Sabado': 19.1,
 'Domingo': 29.8}

In [ ]:
a1=lambda x: "Temperatura ambiente" if (x>=20 and x<30) else "Temperatura caliente"
a2=lambda x: "Temperatura fria" if x<18 else a1(x)
t1=[]
for i in temp: t1.append((i,a2(i)))
t1

[(10.5, 'Temperatura fria'),
 (13.8, 'Temperatura fria'),
 (28.2, 'Temperatura ambiente'),
 (34.3, 'Temperatura caliente'),
 (33.8, 'Temperatura caliente'),
 (19.1, 'Temperatura caliente'),
 (29.8, 'Temperatura ambiente')]

In [ ]:
#t2=list(map(lambda x: "Temperatura ambiente" if (x>=20 and x<30) else "Temperatura caliente",temp))
t4=list(map(lambda x: (x, "Temperatura fria") if x<=20 else ((x, "Temperatura ambiente") if x>=20 and x<30 else (x, "Temperatura caliente")),temp))
t4

[(10.5, 'Temperatura fria'),
 (13.8, 'Temperatura fria'),
 (28.2, 'Temperatura ambiente'),
 (34.3, 'Temperatura caliente'),
 (33.8, 'Temperatura caliente'),
 (19.1, 'Temperatura fria'),
 (29.8, 'Temperatura ambiente')]

In [ ]:
t3=dict(map(lambda x,y: (x,y),dias,t4))
t3

In [ ]:
from functools import reduce
import random

# 20. Adivina el color
colores = [input(f"Color {i+1}: ") for i in range(10)]
adivinar = lambda color: color in colores

eleccion = random.choice(colores)
intentos = 0
while intentos < 10:
    intento = input("Adivina el color: ")
    if adivinar(intento):
        print("¡Correcto!")
        break
    print("Incorrecto, intenta de nuevo.")
    intentos += 1

Color 1: 4
Color 2: 5
Color 3: 3
Color 4: 0
Color 5: 7
Color 6: 7
Color 7: 8
Color 8: 8
Color 9: 8
Color 10: 167
Adivina el color: VERDE
Incorrecto, intenta de nuevo.

In [ ]:
# 21. Números pares del 1 al 100
pares = list(filter(lambda x: x % 2 == 0, range(1, 101)))
print("Números pares del 1 al 100:", pares)

In [ ]:
# 22. Suma de los dígitos de un número
suma_digitos = lambda num: reduce(lambda x, y: x + y, map(int, str(num)))
num = int(input("Ingresa un número para calcular la suma de sus dígitos: "))
print("Suma de los dígitos:", suma_digitos(num))

In [ ]:
# 23. Determinar si un número es primo
es_primo = lambda num: all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)) and num > 1
num = int(input("Ingresa un número para verificar si es primo: "))
print(f"{num} es primo" if es_primo(num) else f"{num} no es primo")

In [ ]:
# 24. Triángulo de asteriscos
triangulo = lambda n: '\n'.join('*' * i for i in range(1, n + 1))
n = int(input("Ingresa el tamaño del triángulo: "))
print(triangulo(n))

In [ ]:
# 25. Potencia sin **
potencia = lambda base, exp: reduce(lambda x, _: x * base, range(exp), 1) if exp > 0 else 1
base = int(input("Ingresa la base: "))
exp = int(input("Ingresa el exponente: "))
print(f"{base}^{exp} =", potencia(base, exp))